<div class="contenedor">
    <div class="text-layout">
        <h1>Pipes Básicos</h1>
        <p>Pipes incluidos en angular - Usualmente en el módulo de Common Module</p>
    </div>

    <div class="grid">
        <div class="col-4">
            <p-card
                    header="uppercase"
                    [subheader]="nombreLower | uppercase">
                {{nombreLower | uppercase}}
            </p-card>
        </div>

        <div class="col-4">
            <p-card
                    header="lowercase"
                    [subheader]="nombreUpper | lowercase">
                {{nombreUpper | lowercase}}
            </p-card>
        </div>

        <div class="col-4">
            <p-card
                    header="TitleCase"
                    [subheader]="nombreCompleto | titlecase">
                {{nombreUpper | titlecase}}
            </p-card>
        </div>
    </div>

    <div class="text-layout">
        <h1>Date | Fecha | Pipe</h1>
        <p>Pipes para mostrar las fechas</p>


        <div class="card-flex">
            <div class="card-item card-1">
                <p-card>
                    <ul>
                        <li>Fecha </li>
                        <li>Fecha | date </li>
                        <li>fecha | date:'short' </li>
                        <li>fecha | date:'long' </li>
                        <li>fecha | date:'MMM' </li>
                        <li>fecha | date:'MMM dd, yyyy' </li>
                    </ul>
                </p-card>
            </div>

            <div class="card-item card-2">
                <p-card>
                    <ul>
                        <li> {{fecha}} </li>
                        <li> {{fecha | date}} </li>
                        <li> {{fecha | date:'short' }} </li>
                        <li> {{fecha | date:'long' }} </li>
                        <li> {{fecha | date:'MMM' }} </li>
                        <li> {{fecha | date:'MMM dd, yyyy' }} </li>
                    </ul>
                </p-card>
            </div>

        </div>
    </div>
</div>