<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluidos en angular - Usualmente en el módulo de Common Module</p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card
            header="uppercase"
            [subheader]="nombreLower | uppercase">
            {{nombreLower | uppercase}}
        </p-card>

        <p-card
                header="lowercase"
                [subheader]="nombreUpper | lowercase">
            {{nombreUpper | lowercase}}
        </p-card>

        <p-card
                header="TitleCase"
                [subheader]="nombreCompleto | titlecase">
            {{nombreUpper | titlecase}}
        </p-card>

    </div>

    <div class="col-4">
        2
    </div>

    <div class="col-4">
        3
    </div>
</div>

